# Model Evaluation Exercises

In [11]:
import pandas as pd
import numpy as np
import seaborn as sns
from pydataset import data

from sklearn.metrics import confusion_matrix

### Given the following confusion matrix, evaluate (by hand) the model's performance.


|               | pred dog   | pred cat   |
|:------------  |-----------:|-----------:|
| actual dog    |         46 |         7  |
| actual cat    |         13 |         34 |

In the context of this problem, what is a false positive?

prediction = that it will be a dog, results show it is a dog when it actually a cat

In the context of this problem, what is a false negative?

prediction = that will not be a dog, results show it is an actual dog

How would you describe this model?

### 3. You are working as a datascientist working for Codeup Cody Creator (C3 for short), a rubber-duck manufacturing plant.

Unfortunately, some of the rubber ducks that are produced will have defects. Your team has built several models that try to predict those defects, and the data from their predictions can be found here.

Use the predictions dataset and pandas to help answer the following questions:

A. An internal team wants to investigate the cause of the manufacturing defects. They tell you that they want to identify as many of the ducks that have a defect as possible. Which evaluation metric would be appropriate here? Which model would be the best fit for this use case?

Metric: recall

In [47]:
df = pd.read_csv('c3.csv')
df.head(8)

      actual     model1     model2     model3
0  No Defect  No Defect     Defect  No Defect
1  No Defect  No Defect     Defect     Defect
2  No Defect  No Defect     Defect  No Defect
3  No Defect     Defect     Defect     Defect
4  No Defect  No Defect     Defect  No Defect
5  No Defect  No Defect  No Defect     Defect
6  No Defect  No Defect  No Defect  No Defect
7  No Defect  No Defect     Defect  No Defect

In [48]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   actual  200 non-null    object
 1   model1  200 non-null    object
 2   model2  200 non-null    object
 3   model3  200 non-null    object
dtypes: object(4)
memory usage: 6.4+ KB

In [60]:
df = pd.DataFrame({
    'actual': ['no defect', 'no defect', 'no defect', 'no defect', 'no defect', 'no defect', 'no defect', 'no defect'],
    'prediction model 1': ['no defect', 'no defect', 'no defect', 'defect', 'no defect', 'no defect', 'no defect', 'no defect'],
    'prediction': ['defect', 'defect', 'defect', 'defect', 'defect', 'no defect', 'no defect', 'defect'],
    'prediction3': ['no defect', 'defect', 'no defect', 'defect', 'no defect', 'defect', 'no defect', 'no defect'],
})
df

      actual prediction model 1 prediction prediction3
0  no defect          no defect     defect   no defect
1  no defect          no defect     defect      defect
2  no defect          no defect     defect   no defect
3  no defect             defect     defect      defect
4  no defect          no defect     defect   no defect
5  no defect          no defect  no defect      defect
6  no defect          no defect  no defect   no defect
7  no defect          no defect     defect   no defect

In [61]:
pd.crosstab(df.prediction, df.actual)

actual      no defect
prediction
defect              6
no defect           2

In [36]:
df.actual.value_counts()

no defect    8
Name: actual, dtype: int64

In [ ]:
# prediction for model 2 has 6 defected and 2 non-defected

B. Recently several stories in the local news have come out highlighting customers who received a rubber duck with a defect, and portraying C3 in a bad light. The PR team has decided to launch a program that gives customers with a defective duck a vacation to Hawaii. They need you to predict which ducks will have defects, but tell you the really don't want to accidentally give out a vacation package when the duck really doesn't have a defect. Which evaluation metric would be appropriate here? Which model would be the best fit for this use case?

evaluation metric used: precision

### 4. You are working as a data scientist for Gives You Paws ™, a subscription based service that shows you cute pictures of dogs or cats (or both for an additional fee).

At Gives You Paws, anyone can upload pictures of their cats or dogs. The photos are then put through a two step process. First an automated algorithm tags pictures as either a cat or a dog (Phase I). Next, the photos that have been initially identified are put through another round of review, possibly with some human oversight, before being presented to the users (Phase II).

In [62]:
df = pd.read_csv('gives_you_paws.csv')
df.head(8)

  actual model1 model2 model3 model4
0    cat    cat    dog    cat    dog
1    dog    dog    cat    cat    dog
2    dog    cat    cat    cat    dog
3    dog    dog    dog    cat    dog
4    cat    cat    cat    dog    dog
5    dog    dog    dog    dog    dog
6    cat    cat    cat    cat    dog
7    cat    dog    cat    cat    dog

In [69]:
df.describe()

       actual model1 model2 model3 model4 baseline_prediction
count    5000   5000   5000   5000   5000                5000
unique      2      2      2      2      2                   1
top       dog    dog    cat    dog    dog                 dog
freq     3254   2937   3212   2508   4253                5000

In [70]:
df = pd.DataFrame({
    'actual': ['cat', 'dog', 'dog', 'dog', 'cat', 'dog', 'cat', 'cat'],
    'prediction': ['cat', 'dog', 'cat', 'dog', 'cat', 'dog', 'cat', 'dog'],
})
df

  actual prediction
0    cat        cat
1    dog        dog
2    dog        cat
3    dog        dog
4    cat        cat
5    dog        dog
6    cat        cat
7    cat        dog

In [71]:
pd.crosstab(df.prediction, df.actual)

actual      cat  dog
prediction
cat           3    1
dog           1    3

In [72]:
df.actual.value_counts()

dog    4
cat    4
Name: actual, dtype: int64

In [73]:
df['baseline_prediction'] = 'dog'

In [74]:
model_accuracy = (df.actual == df.prediction).mean()
baseline_accuracy = (df.actual == df.baseline_prediction).mean()

print(f'model accuracy: {model_accuracy:.2%}')
print(f'baseline accuracy: {baseline_accuracy:.2%}')

model accuracy: 75.00%
baseline accuracy: 50.00%

Given this dataset, use pandas to create a baseline model (i.e. a model that just predicts the most common class) and answer the following questions:

In terms of accuracy, how do the various models compare to the baseline model? Are any of the models better than the baseline?

Suppose you are working on a team that solely deals with dog pictures. Which of these models would you recomend for Phase I? For Phase II?

Suppose you are working on a team that solely deals with cat pictures. Which of these models would you recomend for Phase I? For Phase II?